*{
    margin: 0px;
    padding: 0px;
    
}
header{
    background-color: rgba(229, 84, 115, 0.10);;
}
.container{
    width: 75%;
    max-width: 1440px;
    margin: 0px auto;
}
.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
  

}